@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500&display=swap");
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 9rem;
  background-color: #2a3738; }

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden; }

.text-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(1.5rem); }

.link-active {
  transform: scale(0.7);
  outline: 3px solid #395048;
  outline-offset: 3px; }

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.divider {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 3rem 0;
  width: 10rem;
  height: 0.21rem;
  border-radius: 0.1rem;
  background-color: #d79f72; }

.hide-overlay {
  transform: translateY(-100vh); }

@keyframes animateArrow {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  50% {
    opacity: 1;
    transform: translateY(1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animateBox {
  0% {
    opacity: 0;
    transform: rotate(0); }
  50% {
    opacity: 0.4;
    transform: rotate(45deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

@keyframes animateIcon {
  0% {
    opacity: 0.4;
    outline: 4.2rem solid #d79f72; }
  50% {
    opacity: 0.7;
    outline: 8.3rem solid #d79f72; }
  100% {
    opacity: 0;
    outline: none; } }

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  50% {
    opacity: 0.3;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideFromLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-100%); }
  50% {
    opacity: 0.5;
    transform: translateX(-70%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  50% {
    opacity: 0.5;
    transform: translateX(70%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn--primary:link, .btn--primary:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: #f8f1f1;
  padding: 0.6rem 2rem;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease; }

.btn--primary:hover {
  background-color: #f8f1f1;
  color: #395048; }

.btn--secondary:link, .btn--secondary:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(248, 241, 241, 0.7);
  background-color: #96775d;
  padding: 0.7rem 1.6rem;
  margin-top: 3rem;
  letter-spacing: 0.14rem;
  transition: all 0.3s ease; }

.btn--secondary:hover {
  background-color: #395048; }

.tab {
  padding: 0 1rem; }
  .tab__header {
    display: flex;
    align-items: center; }
  .tab__header:hover .tab__icon::before {
    display: inline-block; }
  .tab__icon {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2rem;
    border-radius: 50%;
    border: 1px solid #566d6e;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s; }
    .tab__icon--plus, .tab__icon--minus {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.6rem;
      font-weight: 700;
      color: #96775d;
      transition: all 0.3s ease; }
    .tab__icon:hover {
      background-color: #d79f72;
      border: none; }
    .tab__icon:hover .tab__icon--plus, .tab__icon--minus {
      color: #2a3738; }
    .tab__icon::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      outline: 2px solid #d79f72;
      outline-offset: 0.2rem;
      animation: animateIcon 0.8s ease;
      display: none; }
  .tab__details {
    padding-top: 3rem;
    padding-left: 6.5rem;
    transition: all 0.4s ease; }
  .tab__contact {
    margin-top: 2rem; }
    .tab__contact--link:link, .tab__contact--link:visited {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 600;
      color: #d79f72;
      border-bottom: 1px solid #96775d; }
    .tab__contact--link:hover, .tab__contact--link:active {
      color: #395048;
      border-bottom: 1px solid #566d6e; }

.footer {
  width: 100%; }
  .footer > * {
    padding: 2rem 5rem; }
    @media only screen and (max-width: 37.35em) {
      .footer > * {
        padding: 2rem 1.5rem; } }
  .footer__top {
    height: 10rem;
    background-color: #2b2929;
    display: flex;
    align-items: center; }
    .footer__top > * {
      color: #566d6e;
      display: inline-block;
      font-size: 1rem;
      font-weight: 500; }
      .footer__top > *:not(:last-child) {
        padding-right: 1rem; }
    .footer__top--link:link, .footer__top--link:visited {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.14rem;
      transition: all 0.2s; }
    .footer__top--link:hover, .footer__top--link:active {
      color: #d79f72; }
  .footer__middle {
    background-color: rgba(42, 55, 56, 0.4);
    min-height: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__middle--left {
      max-width: 60%; }
    .footer__middle--right {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .footer__middle--text {
      font-size: 1.2rem;
      font-weight: 300;
      color: #566d6e; }
    .footer__middle--icon {
      text-decoration: none;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin: 0 0.5rem;
      color: #566d6e;
      font-size: 1.2rem;
      outline: 0.2px solid #2a3738;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease; }
      .footer__middle--icon:hover {
        background-color: #f8f1f1;
        outline: none; }
  .footer__bottom {
    background-color: #2b2929;
    height: 10rem;
    border-top: 1px solid #474444;
    display: flex;
    align-items: center; }
    .footer__bottom > *:not(:last-child) {
      padding-right: 1rem; }
    .footer__bottom--text {
      font-size: 1.1rem;
      font-weight: 500;
      color: #566d6e; }
    .footer__bottom--divider {
      font-size: 1.2rem;
      color: #f8f1f1; }
    .footer__bottom--link:link, .footer__bottom--link:visited {
      text-decoration: none;
      color: #f8f1f1;
      transition: all 0.2s; }
    .footer__bottom--link:hover, .footer__bottom--link:active {
      color: #d79f72; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  background-position: left; }
  .header__left {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    font-weight: 500;
    color: #f8f1f1;
    margin-left: -7rem;
    margin-top: 40vh;
    transform: rotate(271deg); }
    .header__left::first-letter {
      font-size: 1.2rem; }
    .header__left--middle {
      font-size: 1.9rem;
      letter-spacing: 0.2rem;
      padding: 0.5rem; }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1rem;
    z-index: 100; }
    @media only screen and (max-width: 37.35em) {
      .header__content {
        left: 45%;
        transform: translate(-45%, -50%); } }
    .header__content--heading {
      font-size: 4.2rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      color: #f8f1f1;
      line-height: 1.5; }
      @media only screen and (max-width: 75em) {
        .header__content--heading {
          font-size: 2.8rem; } }
      @media only screen and (max-width: 37.35em) {
        .header__content--heading {
          font-size: 1.7rem; } }
  .header__bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__bottom--text {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      color: #f8f1f1;
      text-transform: uppercase;
      transition: all 0.2s ease;
      cursor: pointer; }
      .header__bottom--text:hover {
        font-weight: 400;
        letter-spacing: 0.4rem; }
    .header__bottom--arrow {
      font-size: 1.7rem;
      font-weight: 700;
      color: #f8f1f1;
      animation: animateArrow 0.8s infinite; }
  .header__sidebar {
    max-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    z-index: 10000; }
    .header__sidebar--container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; }
    .header__sidebar--link, .header__sidebar--link:link, .header__sidebar--link:visited {
      display: inline-block;
      text-decoration: none;
      width: 10px;
      height: 10px;
      padding: 0.5rem;
      margin-left: 1rem;
      background-color: #96775d;
      border-radius: 50%;
      transition: all 0.2s; }
    .header__sidebar--link:hover, .header__sidebar--link:active {
      background-color: #d79f72; }
    .header__sidebar--text {
      text-decoration: none;
      padding: 0.23rem 1.9rem;
      background-color: #566d6e;
      color: #f8f1f1;
      font-size: 1.2rem;
      font-weight: 400;
      border-radius: 0.15rem;
      transition: all 0.3s; }
    .header__sidebar--link:hover + .header__sidebar--text {
      opacity: 1;
      visibility: visible;
      transform: translate(0); }
  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2a3738;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50000;
    transition: transform 1.4s ease-in-out; }
    .header__overlay--box {
      width: 20px;
      height: 20px;
      border: 2px dashed #aaaaaa;
      animation: animateBox 0.4s infinite; }

.introduction {
  padding: 15rem 2rem;
  text-align: center; }
  .introduction__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    margin: 5rem auto; }
    @media only screen and (max-width: 75em) {
      .introduction__container {
        padding: 0 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .introduction__container {
        padding: 0 2rem; } }
    @media only screen and (max-width: 37.35em) {
      .introduction__container {
        padding: 5rem;
        margin: 0 auto;
        flex-direction: column; } }
    .introduction__container--details {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      @media only screen and (max-width: 56.25em) {
        .introduction__container--details {
          width: 40%; } }
      @media only screen and (max-width: 37.35em) {
        .introduction__container--details {
          width: 90%; } }
    .introduction__container--figure {
      width: 45%;
      height: 30rem; }
      @media only screen and (max-width: 56.25em) {
        .introduction__container--figure {
          width: 50%;
          height: 25rem; } }
      @media only screen and (max-width: 37.35em) {
        .introduction__container--figure {
          width: 90%;
          height: 20rem; } }
    .introduction__container--1 {
      margin-top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .introduction__container--1 {
          margin-top: 5rem; } }

.mission {
  position: relative;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
  z-index: 100; }
  @media only screen and (max-width: 56.25em) {
    .mission {
      width: 85%;
      padding: 5rem 2rem; } }
  @media only screen and (max-width: 37.35em) {
    .mission {
      width: 100%; } }

.navigation {
  width: 100%;
  height: 8rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  transition: all 0.4s; }
  .navigation__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__logo {
    padding-right: 2rem;
    transition: all 0.2s; }
    .navigation__logo:hover {
      transform: scale(0.8); }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.1rem;
    color: #aaaaaa;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease; }
  .navigation__link:hover {
    color: #f8f1f1; }
  .navigation__item {
    padding-left: 1.7rem;
    border-left: 1px solid #f8f1f1;
    cursor: pointer; }
  .navigation__text {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    color: #aaaaaa; }
  .navigation__button {
    border: 1.2px solid #f8f1f1; }
    @media only screen and (max-width: 37.35em) {
      .navigation__button {
        display: none;
        opacity: 0;
        visibility: hidden; } }

.partners {
  padding: 20rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .partners {
      padding: 15rem 2rem; } }
  .partners__header {
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center; }
  .partners__content {
    width: 100%;
    padding: 5rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5rem; }
    @media only screen and (max-width: 75em) {
      .partners__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 48em) {
      .partners__content {
        grid-template-columns: 1fr;
        width: 60%; } }
    @media only screen and (max-width: 37.35em) {
      .partners__content {
        width: 80%; } }

.process {
  position: relative;
  margin: 0 auto;
  padding: 5rem 0;
  width: 70%; }
  @media only screen and (max-width: 56.25em) {
    .process {
      width: 90%; } }
  .process__header {
    margin: 0 auto;
    padding: 5rem 0;
    width: 65%;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .process__header {
        width: 100%;
        padding: 5rem 2rem; } }
  .process__content {
    width: 100%;
    border-top: 0.3px solid rgba(170, 170, 170, 0.3); }
  .process__description {
    padding: 2rem 0;
    border-bottom: 0.3px solid rgba(170, 170, 170, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .process__description--count {
      font-size: 4rem;
      font-weight: 700;
      color: rgba(170, 170, 170, 0.3);
      padding: 0 3rem;
      border-right: 0.3px solid rgba(170, 170, 170, 0.3); }
    .process__description--text {
      padding-left: 3rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Noto Serif NP Hmong", serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 4rem; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: #f8f1f1;
  box-sizing: border-box;
  line-height: 1.7; }

.heading-primary {
  text-transform: capitalize;
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #2a3738;
  margin: 1rem auto; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.1rem; } }
  @media only screen and (max-width: 37.35em) {
    .heading-primary {
      font-size: 1.7rem; } }

.heading-secondary {
  text-transform: capitalize;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #2a3738;
  margin: 1rem 0; }
  @media only screen and (max-width: 37.35em) {
    .heading-secondary {
      font-size: 1.8rem; } }

.heading-secondary--sub {
  text-transform: capitalize;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.14rem;
  color: #2a3738;
  margin: 1rem 0;
  padding-left: 2rem; }
  @media only screen and (max-width: 37.35em) {
    .heading-secondary--sub {
      font-size: 1.5rem; } }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  color: #aaaaaa;
  letter-spacing: 0.2rem;
  padding: 1.5rem 0;
  margin: 1rem 0; }

.heading-tertiary--sub {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
  color: #aaaaaa;
  letter-spacing: 0.1rem;
  margin: 1rem 0; }

.paragraph {
  font-size: 1.8rem;
  font-weight: 500;
  color: #2b2929;
  text-align: left;
  padding: 1.5rem 0; }

.paragraph-sub {
  font-size: 1.2rem;
  font-weight: 300;
  color: #2a3738;
  text-align: left; }

.content-background {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35rem;
  font-weight: 700;
  background-image: linear-gradient(to right bottom, #f8f1f1, #aaaaaa);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0.28;
  z-index: 1; }
  @media only screen and (max-width: 37.35em) {
    .content-background {
      font-size: 25rem; } }
